body {
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, a, li {
    font-size: 1.2rem;
}

header {
    background-color: rgb(255, 215, 165);
}

.scribbly {
  font-family: "Mansalva", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
    height: 90%;
    border-width: 5px;
    background-image: url("../images/peach-stripe.jpg");
    transition-duration: 0.4s;
}

.card:hover {
    transform: scale(1.1);
}

.day .card {
    background-image: url("../images/peach-stripe.jpg");
}

.night .card {
    background-image: url("../images/lav-stripe.jpg");
}

.card img {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    
}

.transition-color-footer {
    background-color: rgb(237, 232, 255);
    height: 56px;
}

footer {
    background-color: rgb(170, 183, 255);
    margin-top: 8rem;
}

footer h3 {
    margin-top: 1rem;
}

.deck-icon {
    height: 80%
}

.deck {
    border-style: solid;
    border-width: 5px !important; /* Overriding the !important from bootstrap, which also affects border style and color */
    border-color: rgb(0, 0, 0, 0.15) !important;
    border-radius: 5px;
    margin: 50px 20px;
    transition-duration: 0.4s;
    background-image: url("../images/lav-stripe.jpg");
}

.deck:hover {
    background-color: rgb(200, 200, 200);
    background-blend-mode: screen;
}

.middle {
    display: flex;
    align-items: center;
}

.pagetop {
    display: flex;
}

.pagetop img {
    margin: 10px;
    height: 5rem;
}

.deck button {
    display: flex;
    justify-content: right;
}

.deck button:hover {
    transform: scale(1.1);
}