.navbar {
    background-color: rgb(255, 247, 192);
}

/* Flip card stuff taken straight from w3schools flip card example */
.flip-card {
    background-color: transparent;
    width: 80%;
    height: 30rem;
    max-width: 50rem;
    margin: auto;
}

.flip-card:hover .flip-card-front, .flip-card:hover .flip-card-back {
    background-color: rgb(200, 200, 200);
    background-blend-mode: screen;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border: 5px solid rgb(0, 0, 0, 0.15);
    border-radius: 5px;
    transition-duration: 0.4s;
}

.flip-card-front {
    background-color: rgb(255, 215, 165);
    background-image: url("../images/peach-stripe.jpg");
    color: black;
}

.flip-card-back {
    background-color: rgb(170, 183, 255);
    background-image: url("../images/lav-stripe.jpg");
    color: black;
    transform: rotateY(180deg);
}

.flip-card p, .flip-card h1 {
    margin: auto;
    padding: 10px;
}

.centered {
    text-align: center;
}

.deck-info h1 {
    text-decoration: underline;
}

.deck-info {
    margin-top: 4rem ;
    margin-bottom: 2rem;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    max-width: 50rem;
    height: 5rem;
}

button {
    /*Overriding a lot of the bootstrap stuff with !important */
    background-color: rgb(170, 183, 255) !important;
    border-color: rgb(170, 183, 255) !important;
    color: black !important;
    font-size: 1.5rem !important;
}

button:hover {
    background-color: rgb(237, 232, 255) !important;
    border-color: rgb(237, 232, 255) !important;
}